::-webkit-scrollbar {
  width: 0;
}

* {
    margin: 0px;
    padding: 0px;
}

#header {
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #4f4d50;
}

#header .container {
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.buttons{
    width: 55%;
    height: 100%;
}

.buttons ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.buttons ul li{
    width: 175px;
    height: 100%;
    margin: 0px 5px;
    display: flex;
    background-color: #8434cc;
    justify-content: center;
    border-radius: 10px;
    -webkit-box-shadow: 8px 8px 30px 0px rgba(50, 50, 50, 0);
    -moz-box-shadow:    8px 8px 30px 0px rgba(50, 50, 50, 0);
    box-shadow:         8px 8px 30px 0px rgba(50, 50, 50, 0);
}
ul li:hover{
    animation-name: buttons;
    animation-duration: 3.5s;
    -webkit-box-shadow: 8px 8px 30px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    8px 8px 30px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         8px 8px 30px 0px rgba(50, 50, 50, 0.75);
}

a {
    text-decoration: none;
    height: 100%;
    width: 100%;
    line-height: 75px;
    font-size: 25px;
    color: #96e674;
    text-align: center;
}

a:hover{
    animation-name: text;
    animation-duration: 1.5s;
}

#covidstats{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

#covidstats ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
}

#covidstats ul li{
    animation-name: none;
    height: 30%;
    width: 500px;
    display: flex;
    background-color: #8434cc;
    justify-content: center;
    border-radius: 10px;
    -webkit-box-shadow: 8px 8px 30px 0px rgba(50, 50, 50, 0);
    -moz-box-shadow:    8px 8px 30px 0px rgba(50, 50, 50, 0);
    box-shadow:         8px 8px 30px 0px rgba(50, 50, 50, 0);
}

#content{
    display: flex;
    justify-content: space-between;
}

.menu ul{
    height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    margin: 10px 0px;
}

.menu ul li{
    width: 100px;
    height: 100%;
    display: flex;
    background-color: #8434cc;
    justify-content: center;
    border-radius: 10px;
    -webkit-box-shadow: 8px 8px 30px 0px rgba(50, 50, 50, 0);
    -moz-box-shadow:    8px 8px 30px 0px rgba(50, 50, 50, 0);
    box-shadow:         8px 8px 30px 0px rgba(50, 50, 50, 0);
}

.menu ul li:hover{
    -webkit-box-shadow: 8px 8px 30px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    8px 8px 30px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         8px 8px 30px 0px rgba(50, 50, 50, 0.75);
}

.news{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news h1{
    text-align: center;
    font-size: 35px;
}

.article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5%;
    border-style: double;
    border-width: 7px;
    background-color: rgba(241, 244, 152, 0.44);
    margin: 15px;
    min-height: 400px;
    max-height: 600px;
    padding: 15px;
}

.article>*{
    margin: 5px 0px;
}

.article .title{
    margin: 0px 25px;
    font-size: 40px;
}

.article .date{
    font-size: 20px;
    margin: 0px 50px;
}

.article .main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 225px;
}

.article .main .info{
    font-size: 25px;
    overflow: scroll;
}

.article .main .img{
    height: 225px;
    width: 400px;
    margin: 0px 10px;
}

.article .sources{
    display: flex;
    flex-direction: row;
}

.sources .source{
    height: 50px;
    width: 150px;
    margin: 0px 10px;
    background-color: #40403f;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article .source a{
    line-height: 50px;
    font-size: 25px;
    color: #96e674;
    text-align: center;
}

#content .ads{
    width: 20%;
    background-color: #ada9ab;
}

#footer{
    height: 200px;
    background-color: #4f4d50;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer .container{
    height: 50%;
    display: flex;
    justify-content: space-between;
}

#footer .container a{
    width: 100px;
    height: 100px;
    margin: 0px 35px;
}

.article_content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    background-color: #f5f9dd;
    min-height: 500px;
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    margin: 15px 0px;
    height: 100%;
}

.post>*{
    margin: 15px 0px;
}

.backbutton{
    border-radius: 10%;
    border-color: black;
    border-style: solid;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    background-color: #8434cc;
    -webkit-box-shadow: 8px 8px 30px 0px rgba(50, 50, 50, 0);
    -moz-box-shadow:    8px 8px 30px 0px rgba(50, 50, 50, 0);
    box-shadow:         8px 8px 30px 0px rgba(50, 50, 50, 0);
}

.backbutton:hover{
    animation-name: buttons;
    animation-duration: 2s;
    -webkit-box-shadow: 8px 8px 30px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    8px 8px 30px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         8px 8px 30px 0px rgba(50, 50, 50, 0.75);
}

.main{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main a{
    height: 100%;
    line-height: 50px;
}

.page_text{
    font-size: 25px;
    text-align: center;
}

@keyframes text {
    0%{
        color: #96e674;
    }
    50%{
        color: #39bade;
    }
    100%{
        color: #96e674;
    }
}

@keyframes buttons {
    from{
        -webkit-box-shadow: 8px 8px 30px 0px rgba(50, 50, 50, 0);
        -moz-box-shadow:    8px 8px 30px 0px rgba(50, 50, 50, 0);
        box-shadow:         8px 8px 30px 0px rgba(50, 50, 50, 0);
    }
    to{
        -webkit-box-shadow: 8px 8px 30px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    8px 8px 30px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         8px 8px 30px 0px rgba(50, 50, 50, 0.75);
    }
}

@media(max-width: 1045px) {
    #header .container{
        flex-direction: column;
        height: 100%;
        width: 95%;
    }
    #header{
        flex-direction: row;
        justify-content: center;
        height: 300px;
    }
    .buttons{
        width: 100%;
        height: 40%;
    }
    .buttons ul li{
        width: 25%;
    }
    .buttons ul li a{
        line-height: 115px;
        font-size: 30px;
    }
    .article .main{
        flex-direction: column;
        height: 400px;
    }
    .article .main img{
        width: 100%;
        height: 325px;
    }
    #covidstats{
        height: 45%;
    }
    #covidstats ul li{
        width: 100%;
    }
    #covidstats ul li p{
        font-size: 35px;
    }
    .article{
        min-height: 500px;
        max-height: 700px;
    }
}
